*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gold;
}
.container{
    text-align: center;
    margin-top: 20px;
}
.box{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    display: inline-block;
}
.box1{
    margin: 30px 0px 0px 80px;
    background-color: gray;
    animation-name: box1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes box1 {
    40%{
        transform: skew(30deg);
    }
    60%{
        transform: skew(-30deg);
    }
}
.box2{
    margin: 30px 0px 0px 80px;
    background-color: palevioletred;
    animation-name: box2;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
}
@keyframes box2 {
    40%{
        transform: skewY(30deg);
    }
    60%{
        transform: skewY(-30deg);
    }
}
.box3{
    margin: 30px 0px 0px 80px;
    background-color: aqua;
    animation-name: box3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes box3 {
    100%{
        transform:rotate(360deg);
    }
}
.box4{
    margin: 30px 0px 0px 80px;
}
.box41{
    background-color:orangered;
    animation-name: box41;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}
@keyframes box41 {
    40%{
        transform: scaleY(2);
        height: 20px;
        width: 100px;
    }
    60%{
        transform: scaleY(2);
        height: 20px;
        width: 100px;
    }
}
.box42{
    background-color:white;
    animation-name: box42;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes box42 {
    40%{
        transform: scaleX(2);
    }
    60%{
        transform: scaleX(2);
    }
}
.box43{
    background-color:green;
    animation-name: box43;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes box43 {
    40%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(180deg);
    }
}
.page{
    margin-top: 30px;
    font-size: 30px;
}

/*............. index1.html page css start .................... */

.container1{
    margin-left: 550px;
    padding: auto;
    width: 0px;
}
h1{
    margin: 25px 0px 25px 0px;
}
.dox{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
    background-color: green;
}
p{
    margin-top: 10px;
    text-align: center;
}
.data1{
    transition: width 3s;
}
.data1:hover{
    width: 300px;
}
.data2{
    transition: width 2s, height 2s;
}
.data2:hover{
    height: 300px;
    width: 300px;
}
.data3{
    transition: linear width 3s;
}
.data3:hover{
    width: 300px;
}
.data4{
    transition: 3s width ease;
}
.data4:hover{
    width: 300px;
}
.data5{
    transition: 3s width ease-in;
}
.data5:hover{
    width: 300px;
}
.data6{
    transition: 3s width ease-out;
}
.data6:hover{
    width: 300px;
}
.data7{
    transition: 3s width ease-in-out;
}
.data7:hover{
    width: 300px;
}

/* ..........................index2.css........................... */

.sky{
    background-image: url(./image/sky.jpg);
    height: 650px;
    border-top: 10px solid lightgreen;
    border-left: 10px solid lightsalmon;
    border-right: 10px solid lightsalmon;
    border-bottom: 10px solid lightslategray;
    overflow-x: hidden;
}
.nav{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.sun{
    margin-left: 80%;
    animation: sun 10s infinite linear;
}
@keyframes sun {
    100%{
        transform: translateX(-1300px);
    }
}
.building{
    background-image: url(./image/city.png);
    background-repeat: repeat-x;
    position: relative;
    height: 300px;
    width: 1000%;
    top: 50px;
    animation: build 10s infinite linear;
}
@keyframes build {
    100%{
        transform: translateX(-1300px);
    }
}
.road{
    background-image: url(./image/road.jpg);
    height: 160px;
    width: 1000%;
    background-repeat: repeat-x;
    animation: rasta 10s infinite linear;
}
@keyframes rasta {
    100%{
        transform: translateX(-1300px);
    }
}
.car{
    position: absolute;
    left: 400px;
    bottom: 70px;
}
.wheel1{
    position: absolute;
    left: 438px;
    bottom: 78px;
    animation: wheel 1s infinite linear;
}
.wheel2{
    position: absolute;
    left: 708px;
    bottom: 78px;
    animation: wheel 1s infinite linear;
}
@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }
}